<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>demoCallApi</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        function getAllCategory() {
            $.ajax({
                type: "GET",
                url: "http://localhost:8080/product/category/v1",
                success: function (data) {
                    displayCategories(data);
                },
                error: function (error) {
                    console.error("Error fetching data:", error);
                }
            });
        }
        function displayCategories(data) {
            let categoryList = '';
            data.forEach(category => {
                categoryList += category.name + '<br>';
            });
            $("body").append(categoryList);
        }
    </script>
</head>
<body onload="getAllCategory()">
<h1>Category Management</h1>
</body>
</html>
